body {
  display: grid;
  place-items: center;
  margin: 0px;
  background-color: #1e4575;
}

.detailContainer {
  text-align: center;
  z-index: 1;
}

.detailPostercss {
  position: absolute;
  height: 400px;
  width: 300px;
  box-shadow: 0 3px 6px rgb(255, 255, 255), 0 3px 6px white;
}
.detailtitle{
  position: absolute;
  top:10px;
}
.homeButton {
  position: absolute;
  left: 30px;
  top: 30px;
  width: 157px;
  height: 44px;
  /* background-color: white; */
  color: black;
  z-index: 2;
  cursor: pointer;
}

.detail_top {
  background-image: url("movieBackDrop");
  width: 100%;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  -webkit-text-stroke: 0.8px black;
  text-shadow: 2px 2px 0 black;
  position: relative;
  overflow: hidden;
}

.detail_bottom {
  margin-top: 130px;
  margin-bottom: 50px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
}

.detail_bottom_movie {
  width: 35%;
  display: flex;
  flex-direction: column;
  background-color: #0a1b31;
  padding: 15px 15px 25px 15px;
  border-style: solid;
  border-color: white;
  border-radius: 20px;
  color: white;
  box-shadow: 0px 0px 25px 5px white;
}

#reviewForm {
  border-style: solid;
  border-color: white;
  border-radius: 20px;
  padding: 15px 15px 10px 10px;
}

.detail_bottom_review {
  width: 40%;
  border-style: solid;
  border-color: white;
  border-radius: 20px;
  color: white;
  box-shadow: 0px 0px 20px 5px white;
  background-color: #0a1b31;
}

.movie_review_card {
  padding-left: 10px;
  background-color: rgba(0, 255, 255, 0.171);
  color: white;
  /* color: blueviolet; */
  box-shadow: 5px 5px 15px 3px rgba(4, 0, 255, 0.527);
  text-align: left;
  margin-top: 20px;
  align-items: center;
  border: 2px groove rgba(217, 247, 81, 0.548);
  border-radius: 10px;
  margin-right: 20px;
}

.detailBackDropcss {
  width: 100%;
  height: 600px;
  position: absolute;
  top: 0px;
  z-index: 0;
  filter: brightness(50%);
  box-shadow: 0 20px 50px rgb(0, 0, 0);
}
.review_input_area {
  background-color: rgba(0, 255, 255, 0.041);
  border: 1px groove rgba(127, 255, 212, 0.377);
  border-radius: 10px;
}
.text_input_area {
  background-color: rgba(0, 255, 255, 0.041);
  font-size: medium;
  height: 20px;
  width: 120px;
  color: white;
  border: groove 1px rgba(127, 255, 212, 0.377);
  border-radius: 10px;
}
.review_card_button {
  border-radius: 15px;
  border-color: blanchedalmond;
  margin-bottom: 10px;
}
