@font-face {
  font-family: "DoHyeon-Regular";
  src: url("../font/DoHyeon-Regular.ttf");
}

* {
  font-family: "DoHyeon-Regular";
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  background-color: #184275;
  width: 100%;
  height: 1200px;
  position: relative;
}

header {
  top: 50px;
  position: absolute;
  color: white;
}

.news-item {
  cursor: pointer;
  margin-bottom: 20px;
  width: 100%;
  border: 3px solid black;
  /* 테두리 색상을 투명으로 설정 */
  padding-top: 5px;
  padding-bottom: 5px;
  transition: background-color 0.3s ease;
  /* 호버 시 효과를 부드럽게 전환 */
}

.news-item:hover {
  background-color: #9ca9d1a4;
  /* 호버 시 배경색 변경 */
}

.news-container {
  width: 50%;
  height: 400px;
  position: absolute;
  left: 25%;
  margin-top: 750px;
  overflow-y: auto;
  background-color: white;
  border: 3px solid rgb(0, 0, 0);
  border-radius: 5px;
  padding: 10px;
}

.carousel-container {
  width: 1200px;
  height: 350px;
  top: 300px;
  position: relative;
}

.wrap {
  width: 1200px;
  height: 350px;
  overflow-x: hidden;
  position: absolute;
}

.carousel {
  margin-top: 40px;
  display: flex;
  width: 1200px;
  height: 300px;
  right: 240px;
  position: absolute;
}

.carouselPoster {
  width: 200px;
  height: 300px;
  margin: 0 20px 0 20px;
  cursor: pointer;
}

/* 버튼 위치 */
.btn__prev {
  position: absolute;
  left: -90px;
  top: 65px;
  height: 250px;
}

.btn__prev:hover {
  cursor: pointer;
}

.btn__next {
  position: absolute;
  right: -90px;
  top: 40px;
  transform: scaleX(-1);
  top: 65px;
  height: 250px;
}

.btn__next:hover {
  cursor: pointer;
}

.subpage_btn {
  float: right;
  margin-right: 20px;
  margin-bottom: 10px;
  cursor: pointer;
  width: 100px;
  background-color: #dd604a;
  color: white;
  border-radius: 5px;
  font-size: 13px;
  padding: 1px;
  text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
}

.subpage_btn:hover {
  background-color: #da4227;
  color: rgb(233, 233, 233);
}
