@font-face {
    font-family: 'DoHyeon-Regular';
    src: url('../font/DoHyeon-Regular.ttf');
}

* {
    font-family: 'DoHyeon-Regular';
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    width: 100%;
}

header {
    background-color: #f74a38;
    width: 100%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 0;
}

.movie_ContainerClass {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
}

.movie_card {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.12), 0 3px 6px rgba(0, 0, 0, 0.24);
    margin: 20px;
    padding: 20px;
    height: 550px;
    width: 350px;
    justify-self: center;
    background-image: url(../assets/white-product-backdrop-wall.jpg);
    border-radius: 10px;
    user-select: none;
    display: table;
    text-align: center;
}

.movie_poster {
    box-shadow: 0 3px 6px rgba(8, 8, 8, 0.932), 0 3px 6px rgba(8, 8, 8, 0.932);
    margin-top: 20px;
    height: 350px;
    width: 250px;
}

.movie_title {
    color: black;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.populbtn {
    font-size: medium;
    margin: 35px 0 0 50px;
    width: 80px;
    height: 40px;
    border-radius: 10px;
    background-color: #fd5639;
    color: white;
    cursor: pointer;
}

.oldbtn {
    font-size: medium;
    margin: 35px 0 0 30px;
    width: 80px;
    height: 40px;
    border-radius: 10px;
    background-color: #fd5639;
    color: white;
    cursor: pointer;
}

.populbtn:hover {
    background-color: white;
    color: black;
}

.oldbtn:hover {
    background-color: white;
    color: black;
}

.translategoogle{
    position: absolute;
    right: 10px;
    top: 10px;
}
