@font-face {
    font-family: "DoHyeon-Regular";
    src: url("../font/DoHyeon-Regular.ttf");
}

* {
    font-family: "DoHyeon-Regular";
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: rgba(0, 0, 0, 0.267);
    width: 100%;
}

header {
    width: 100%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 0;
}

.title {
    margin-right: 70%;
}

.titlefont {
    color: white;
}

.subtomainbutton {
    background-color: transparent;
    border: none;
}

.movie_button{
    position: relative;
    display: inline-block;
    margin-top: 30px;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    border-color: rgb(100, 100, 100);
    color: rgb(219, 219, 219);
    text-align: center;
    line-height: 100px;
    font-size: 16px;
    cursor: pointer;
}

.movie_button:hover {
    background-color: black;
}

.movie_button:hover::before {
    border-color: white;
    background-color: #fd5639;
}

.movie_button::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    background-color: white;
}

.movie_light{
    width: 10px;
    height: 10px;
    background-color: white;
    border-radius: 50%;
}

.movie_light:hover {
    background-color: rgb(0, 255, 85);
}

.movie_ContainerClass {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
}

.movie_card {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.12), 0 3px 6px rgba(0, 0, 0, 0.24);
    margin: 20px;
    padding: 20px;
    height: 550px;
    width: 350px;
    justify-self: center;
    background-image: url(../assets/white-product-backdrop-wall.jpg);
    border-radius: 20px;
    user-select: none;
    display: table;
    text-align: center;
}

.movie_poster {
    box-shadow: 0 3px 6px rgba(8, 8, 8, 0.932), 0 3px 6px rgba(8, 8, 8, 0.932);
    margin-top: 20px;
    height: 350px;
    width: 250px;
}

.movie_title {
    color: black;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.populbtn {
    font-size: medium;
    margin: 35px 0 0 50px;
    width: 80px;
    height: 40px;
    border-radius: 10px;
    background-color: #fd5639;
    color: white;
    cursor: pointer;
}

.oldbtn {
    font-size: medium;
    margin: 35px 0 0 30px;
    width: 80px;
    height: 40px;
    border-radius: 10px;
    background-color: #fd5639;
    color: white;
    cursor: pointer;
}

.populbtn:hover {
    background-color: white;
    color: black;
}

.oldbtn:hover {
    background-color: white;
    color: black;
}

.translategoogle {
    position: absolute;
    right: 10px;
    top: 10px;
}

.subtomainbutton {
    cursor: pointer;
}

.news-item {
    cursor: pointer;
    margin-bottom: 20px;
    width: 100%;
    border: 3px solid black;
    /* 테두리 색상을 투명으로 설정 */
    padding-top: 5px;
    padding-bottom: 5px;
    transition: background-color 0.3s ease;
    /* 호버 시 효과를 부드럽게 전환 */
}

.news-item:hover {
    background-color: #9ca9d1a4;
    /* 호버 시 배경색 변경 */
}

.button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: rgba(0, 0, 0, 0.39);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 5px;
    /* 좌우 간격 조절 */
}

.button:hover {
    background-color: rgba(0, 0, 0, 0.144);
}

#pagination {
    text-align: center;
    /* 가운데 정렬 */
    margin-top: 20px;
    margin-bottom: 20px;
}

.movie_ContainerMain {
    grid-template-columns: repeat(5, 1fr);
    justify-content: center;
}

.carousel-container {
    width: 1200px;
    height: 350px;
    margin-left: 440px;
    overflow-x: hidden;
    position: relative;
}

.carousel {
    display: flex;
    width: 1200px;
    height: 300px;
    right: 240px;
    position: absolute;
}

.carouselPoster {
    width: 200px;
    height: 300px;
    margin: 0 20px 0 20px;
    cursor: pointer;
}

/* 버튼 위치 */
.btn__prev {
    margin-top: 310px;
    margin-left: 450px;
}

/* button {
    margin-top: 10px;
}  */
